body {
    font-size: 115%;
}

.button {
    margin-right: 50px;
    border: none;
    font-size: 150%;
    font-family: "Anaheim";
    color: #fff;
    padding: 8px;
    width: 100px;
    text-align: center;
}

.content {
    display: none;
    animation: fade_effect 1s;
}
.invisible {
    display: none;
}
.myfont {
    font-family: 'Anaheim';
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav div.panel {
    padding: 0 18px;
    background-color: #252525;
    opacity: 0;
    transition: 1s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.sidenav div.panel.show {
    opacity: 1;
    max-height: 500px;
}

a.active {
    background-color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

ul.topnav .showsidebar {
    margin-left: 185px;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    transition: 0.3s;
    font-size: 130%;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

@keyframes fade_effect {
    from {opacity: 0;}
    to {opacity: 1;}
}