body {
    font-size: 115%;
}

.content {
    animation: fade_effect 0.7s;
    padding-left: 45px;
}

.myfont {
    font-family: 'Anaheim';
}

.report {
    font-family: "Roboto Mono";
}

.center {
    text-align: center;
}

.sidenav {
    background-color: #111;
    height: 100%;
    left: 0;
    max-width: 0;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 105px;
    position: fixed;
    top: 0;
    transition: 0.7s;
    z-index: 1;
    height: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 140%;
    color: #818181;
    display: block;
    transition: 0.7s;
}

.navlink.active {
    background-color: #000;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav div.panel {
    /*animation: fade_effect 0.7s;*/
    padding: 0 18px;
    /*background-color: #252525;*/
    opacity: 0;
    transition: 0.7s;
    overflow: hidden;
    max-height: 0;
}

.sidenav div.panel.show {
    opacity: 1;
    max-height: 500px;
}

/*a.active {
    background-color: #000;
}*/

.sidenav.show {
    opacity: 1;
    max-width: 300px;
    width: 300px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    font-size: 190%;
}

ul.topnav .first_nav_link {
    margin-left: 300px;
    /*margin-right: 8px;*/
}

ul.topnav li {
    float: left;
}


ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    transition: 0.3s;
}

ul.topnav li a.active {
    background-color: #000;
}

.nav_menu {
    position: fixed;
    bottom: 8px;
    left: 8px;
    z-index: 1;
    border: 0;
    text-align: center;
    font-family: "Anaheim";
    font-size: 200%;
    width:55px;
    height: 55px;
    color: #818181;
    background-color: #111;
}

.nav_menu:hover {
    color: #f1f1f1;
}

.nav_menu.active {
    background-color: #222;
    width:55px;
    height: 55px;
}

#main {
    transition: margin-left 0.7s;
    padding: 20px;
}

#main.show {
    margin-left: 300px;
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

@keyframes fade_effect {
    from {opacity: 0;}
    to {opacity: 1;}
}